<a href="https://colab.research.google.com/github/219x1a0539/KaipaSuchitra/blob/main/Control_structures_1__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** USE THE CONCEPT OF LOOP TO SOLVE TEHE BELOW QUIRIES **

  1) Print the first 10 natural numbers using for loop.

In [ ]:
#Write your code here

In [ ]:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2) Python program to print all the even numbers within the given range.

Range = 0 to 100

In [ ]:
#Write your code Here
for number in range(0, 101, 2):
    print(number)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

3) Python program to calculate the sum of all numbers from 1 to a given number.

Given Range = 15

In [ ]:
#Write your Code Here
def sum_of_natural_numbers(n):
    """
    Calculate the sum of all natural numbers from 1 to n.

    Parameters:
    - n: The upper limit of the range (inclusive).

    Returns:
    - The sum of all natural numbers from 1 to n.
    """
    return n * (n + 1) // 2

given_number = 15
total_sum = sum_of_natural_numbers(given_number)
print(f"The sum of all numbers from 1 to {given_number} is: {total_sum}")

The sum of all numbers from 1 to 15 is: 120

4) Python program to calculate the sum of all the odd numbers within the given range.

Given Range = 10

In [ ]:
# Write your code Here
def sum_of_odd_numbers(start, end):
    """
    Calculate the sum of all odd numbers within a specified range.

    Parameters:
    - start: The beginning of the range (inclusive).
    - end: The end of the range (inclusive).

    Returns:
    - The sum of all odd numbers within the range.
    """
    total_sum = 0
    for number in range(start, end + 1):
        if number % 2 != 0:
            total_sum += number
    return total_sum

start_range = 1
end_range = 10
result = sum_of_odd_numbers(start_range, end_range)
print(f"The sum of all odd numbers from {start_range} to {end_range} is: {result}")

The sum of all odd numbers from 1 to 10 is: 25

5) Python program to print a multiplication table of a given number

given number = 5

In [ ]:
# Write your code here
def print_multiplication_table(number, up_to=10):
    """
    Prints the multiplication table of the given number up to the specified range.

    Parameters:
    - number: The number for which to print the multiplication table.
    - up_to: The range up to which the table should be printed (inclusive). Default is 10.
    """
    for i in range(1, up_to + 1):
        print(f"{number} x {i} = {number * i}")

print_multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50