<a href="https://colab.research.google.com/github/219x1a0539/KaipaSuchitra/blob/main/lists_1_Assignment_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Are lists mutable or immutable, explain with an example

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10
my_list.append(4)
my_list.remove(2)
print(my_list)

[10, 3, 4]

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

2.Take any example of list on your own and perform atleast 5 list operations on that

In [ ]:
#write your code here
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruits.append('fig')
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

In [ ]:
fruits.insert(2, 'blueberry')
print(fruits)

['apple', 'banana', 'blueberry', 'cherry', 'date', 'elderberry', 'fig']

In [ ]:
fruits.remove('date')
print(fruits)

['apple', 'banana', 'blueberry', 'cherry', 'elderberry', 'fig']

In [ ]:
fruits.sort()
print(fruits)

['apple', 'banana', 'blueberry', 'cherry', 'elderberry', 'fig']

In [ ]:
fruits.reverse()
print(fruits)

['fig', 'elderberry', 'cherry', 'blueberry', 'banana', 'apple']

3.Create a new list containing only the even numbers from the original list.

original list ;[1,2,2,4,5,6,7,12,3,456,78,67,89,90]

In [ ]:
#write your code here
original_list = [1, 2, 2, 4, 5, 6, 7, 12, 3, 456, 78, 67, 89, 90]
even_list_comprehension = [num for num in original_list if num % 2 == 0]
even_list_filter = list(filter(lambda x: x % 2 == 0, original_list))
print("Even numbers using list comprehension:", even_list_comprehension)
print("Even numbers using filter():", even_list_filter)

Even numbers using list comprehension: [2, 2, 4, 6, 12, 456, 78, 90]
Even numbers using filter(): [2, 2, 4, 6, 12, 456, 78, 90]

4.Create a new list with the squares of each element in the original list.

original list : [3,5,6,8,2,45]

In [ ]:
#write your code here
original_list = [3, 5, 6, 8, 2, 45]
squared_list = [x ** 2 for x in original_list]
print(squared_list)

[9, 25, 36, 64, 4, 2025]

5.Check if all elements in the list are positive and return all the positive elements in a new list.

input ; [12,23,4,56,77,-89,7,90,90,-87,-99]

In [ ]:
# write your code here
numbers = [12, 23, 4, 56, 77, -89, 7, 90, 90, -87, -99]
all_positive = all(num > 0 for num in numbers)
positive_numbers = [num for num in numbers if num > 0]
print("Are all elements positive?", all_positive)
print("List of positive numbers:", positive_numbers)

Are all elements positive? False
List of positive numbers: [12, 23, 4, 56, 77, 7, 90, 90]