<a href="https://colab.research.google.com/github/219x1a0539/KaipaSuchitra/blob/main/lists_2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [ ]:
list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]
list1 = [item for item in list1 if item.strip()]
print(list1)# write your code here

['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#  write your code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
inner_list = list1[2][2]
inner_list.append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [ ]:
#write your code here
list1 = [5, 10, 15, 20, 25, 50, 20]

try:
    index = list1.index(20)
    list1[index] = 200
except ValueError:
    pass
print(list1)

[5, 10, 15, 200, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [ ]:
# write your code here
list1 = [5, 20, 15, 20, 25, 50, 20]
list1 = list(filter(lambda x: x != 20, list1))
print(list1)

[5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
# write your code here
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
result = [i + j for i in list1 for j in list2]
print(result)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']